/* Dropdown */

.dropdown {
  width: 141px;

  border-radius: 6px;
  border: 1px solid var(--c, #d4d4d4);
  background: var(--unnamed, #fff);

  padding: 8px;

  margin-top: 8px;

  margin-left: auto;
  margin-right: auto;
}

.dropdownButton {
  display: block;

  border-radius: 4px;

  width: 125px;

  border: 0px;

  background-color: transparent;

  color: var(--unnamed, #141414);

  padding: 10px 20px 10px 0px;

  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  transition: background ease 0.6s;
}

.dropdownButton:hover {
  background: var(--unnamed, #f2f2f2);

  transition: background ease 0.6s;
}

.dropdownLink {
  display: block;

  border-radius: 4px;

  color: var(--unnamed, #141414);

  padding: 10px 0px 10px 14px;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  transition: background ease 0.6s;
}

.dropdownLink:hover {
  background: var(--unnamed, #f2f2f2);

  transition: background ease 0.6s;
}

.dropdownImage {
  padding-right: 8px;
}
