.main {
    padding: 16px;

    width: 100%;
    height: calc(100vh - 150px);
}

.main :is(
    h1,
    h2,
    h3
) {
    font-weight: bold;
}
.main h1 {font-size: 2em;}
.main h2 {font-size: 1.5em;}
.main h2 {font-size: 1.17em;}

.main {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.inputs {
    gap: 1rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: 
        "🟥 🟨"
        "🟩 🟨"
    ;
}
.inputs > input {
    border: none;
    border-radius: 16px;
    background: none;
}

.Header {
    font-size: 2rem;
    grid-area: 🟥;
}

.Description {
    grid-area: 🟩;
}

.HeaderImage {
    /* aspect-ratio: 1920/1080; */
    height: 76px;
    outline: 1px solid black;
    align-self: center;
    grid-area: 🟨;
}

.inputs > .FileInput {
    display: none;
}

.editor {
    flex: 1;
    display: flex;
}
.editor > div {background-color: white; border-radius: 16px; flex: 1; overflow-y: auto;}
.editor > div > div {height: 100%;}

.editor img {
    max-width: 50%;
    max-height: 240px;
    margin-left: 1.5rem;
}

.submit {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: .75rem;
}

.submit > button {
    color: white;
    padding: .5rem 1rem;
    background-color: #FF933C;
    border: none;
    border-radius: 6px;
}