.container {
    position: fixed;
    right: 32px;
    bottom: 40px;
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
    background: white;
    padding: 16px 24px;
    border: 1px solid var(--c, #D4D4D4);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    border-radius: 6px;
}

.container > li {
    color: var(--unnamed, #141414);
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.1px;
    position: relative;
    margin-left: calc(17px + 6px);
}
.container > li::before {
    display: block;
    content: url("../img/notification/icon.svg");
    height: 17px;
    aspect-ratio: 1;
    position: absolute;
    left: calc((17px + 6px) * -1);
    top: 50%;
    transform: translateY(-50%);
}